.pokemonList {
    background-image: url('/Users/kedou/Documents/Dev/checkpoint4/src/assets/4548246-pokmon-pixel-art.png');
    background-size: cover;
    padding: 200px 0px 270px 0;

    p {
        display: flex;
        justify-content: center;
        margin: 0px 0px 50px 0px;
        font-family: 'VT323', monospace;
        font-size: 60px;
    }
}

.pokemonList_map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    .image-container {
        h3 {
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }
        img {
            height: 200px;
            width: 200px;
            background-image: none;
        }
    }
    
}